In [1]:
import pandas as pd
import numpy as np

In [4]:
# Series 생성
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
# 날짜 형의 데이텅 : data_range, periods : 6일간
dates = pd.date_range('20220101', periods=6)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2022-01-01  0.130354  1.500406  0.173290 -1.784245
2022-01-02  1.713190  0.499851  0.156170  0.066028
2022-01-03 -0.446603  0.940961  1.294809  0.993898
2022-01-04  0.858115  1.311840  1.174808 -0.261098
2022-01-05  0.776659  0.415124 -0.009434  0.237204
2022-01-06 -0.925415 -0.033729 -0.576099 -0.177671

In [6]:
# head : 기본적으로 첫 5행을 보여줌
df.head(3)

                   A         B         C         D
2022-01-01  0.130354  1.500406  0.173290 -1.784245
2022-01-02  1.713190  0.499851  0.156170  0.066028
2022-01-03 -0.446603  0.940961  1.294809  0.993898

In [7]:
df.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
df.values

array([[ 0.13035414,  1.50040573,  0.17329026, -1.78424483],
       [ 1.71319008,  0.49985097,  0.15617017,  0.06602839],
       [-0.44660293,  0.94096097,  1.29480883,  0.99389843],
       [ 0.85811534,  1.31184029,  1.17480779, -0.26109759],
       [ 0.77665872,  0.41512424, -0.00943443,  0.23720353],
       [-0.92541459, -0.03372924, -0.57609942, -0.17767136]])

In [10]:
# df.info() : df 변수 dataframe의 개요를 알 수 있음
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2022-01-01 to 2022-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [11]:
# df.describe() : 통계적 개요 확인 가능
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.351050  0.772409  0.368924 -0.154314
std    0.960000  0.583297  0.724772  0.915298
min   -0.925415 -0.033729 -0.576099 -1.784245
25%   -0.302364  0.436306  0.031967 -0.240241
50%    0.453506  0.720406  0.164730 -0.055821
75%    0.837751  1.219120  0.924428  0.194410
max    1.713190  1.500406  1.294809  0.993898

In [12]:
# sort_values : by로 지정된 컬럼 기준으로 정렬. ascending : 내림차순 / 오름차순 정렬
df.sort_values(by='B', ascending=True)

                   A         B         C         D
2022-01-06 -0.925415 -0.033729 -0.576099 -0.177671
2022-01-05  0.776659  0.415124 -0.009434  0.237204
2022-01-02  1.713190  0.499851  0.156170  0.066028
2022-01-03 -0.446603  0.940961  1.294809  0.993898
2022-01-04  0.858115  1.311840  1.174808 -0.261098
2022-01-01  0.130354  1.500406  0.173290 -1.784245

In [13]:
df

                   A         B         C         D
2022-01-01  0.130354  1.500406  0.173290 -1.784245
2022-01-02  1.713190  0.499851  0.156170  0.066028
2022-01-03 -0.446603  0.940961  1.294809  0.993898
2022-01-04  0.858115  1.311840  1.174808 -0.261098
2022-01-05  0.776659  0.415124 -0.009434  0.237204
2022-01-06 -0.925415 -0.033729 -0.576099 -0.177671

In [15]:
# 해당 컬럼 A만 series로 보여줌
df['A']

2022-01-01    0.130354
2022-01-02    1.713190
2022-01-03   -0.446603
2022-01-04    0.858115
2022-01-05    0.776659
2022-01-06   -0.925415
Freq: D, Name: A, dtype: float64

In [16]:
# 행의 범위 지정
df[0:3]

                   A         B         C         D
2022-01-01  0.130354  1.500406  0.173290 -1.784245
2022-01-02  1.713190  0.499851  0.156170  0.066028
2022-01-03 -0.446603  0.940961  1.294809  0.993898

In [17]:
df['2022-01-01':'2022-01-03']

                   A         B         C         D
2022-01-01  0.130354  1.500406  0.173290 -1.784245
2022-01-02  1.713190  0.499851  0.156170  0.066028
2022-01-03 -0.446603  0.940961  1.294809  0.993898

In [18]:
# loc : location 옵션으로 슬라이싱
df.loc[dates[0]]

A    0.130354
B    1.500406
C    0.173290
D   -1.784245
Name: 2022-01-01 00:00:00, dtype: float64

In [19]:
df.loc[:, ['A', 'B']]

                   A         B
2022-01-01  0.130354  1.500406
2022-01-02  1.713190  0.499851
2022-01-03 -0.446603  0.940961
2022-01-04  0.858115  1.311840
2022-01-05  0.776659  0.415124
2022-01-06 -0.925415 -0.033729

In [20]:
df.loc['2022-01-01':'2022-01-03', ['A', 'B']]

                   A         B
2022-01-01  0.130354  1.500406
2022-01-02  1.713190  0.499851
2022-01-03 -0.446603  0.940961

In [21]:
df.loc['2022-01-02', ['A', 'B']]

A    1.713190
B    0.499851
Name: 2022-01-02 00:00:00, dtype: float64

In [23]:
df.loc[dates[0], 'A']   # 컬럼 내용 확인

0.13035414459117528

In [24]:
# loc 명령과 달리 행과 열의 번호를 이용해 데이터에 접근 : iloc
df.iloc[3]

A    0.858115
B    1.311840
C    1.174808
D   -0.261098
Name: 2022-01-04 00:00:00, dtype: float64

In [25]:
df.iloc[3:5, 0:2]

                   A         B
2022-01-04  0.858115  1.311840
2022-01-05  0.776659  0.415124

In [26]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2022-01-02  1.713190  0.156170
2022-01-03 -0.446603  1.294809
2022-01-05  0.776659 -0.009434

In [27]:
df.iloc[1:3, :]

                   A         B         C         D
2022-01-02  1.713190  0.499851  0.156170  0.066028
2022-01-03 -0.446603  0.940961  1.294809  0.993898

In [28]:
df.iloc[:, 1:3]

                   B         C
2022-01-01  1.500406  0.173290
2022-01-02  0.499851  0.156170
2022-01-03  0.940961  1.294809
2022-01-04  1.311840  1.174808
2022-01-05  0.415124 -0.009434
2022-01-06 -0.033729 -0.576099

In [29]:
df

                   A         B         C         D
2022-01-01  0.130354  1.500406  0.173290 -1.784245
2022-01-02  1.713190  0.499851  0.156170  0.066028
2022-01-03 -0.446603  0.940961  1.294809  0.993898
2022-01-04  0.858115  1.311840  1.174808 -0.261098
2022-01-05  0.776659  0.415124 -0.009434  0.237204
2022-01-06 -0.925415 -0.033729 -0.576099 -0.177671

In [30]:
# 특정 조건을 만족하는 데이터만 얻기
df[df.A > 0]

                   A         B         C         D
2022-01-01  0.130354  1.500406  0.173290 -1.784245
2022-01-02  1.713190  0.499851  0.156170  0.066028
2022-01-04  0.858115  1.311840  1.174808 -0.261098
2022-01-05  0.776659  0.415124 -0.009434  0.237204

In [31]:
df[df > 0]

                   A         B         C         D
2022-01-01  0.130354  1.500406  0.173290       NaN
2022-01-02  1.713190  0.499851  0.156170  0.066028
2022-01-03       NaN  0.940961  1.294809  0.993898
2022-01-04  0.858115  1.311840  1.174808       NaN
2022-01-05  0.776659  0.415124       NaN  0.237204
2022-01-06       NaN       NaN       NaN       NaN

In [32]:
# dataframe을 복사할 때 그냥 = 기호를 복사하면 실제 데이터의 내용이 복사되는 것이 아닌 데이터 위치만 복사됨
# 데이터의 내용까지 복사하라는 명령은 copy() 옵션 붙이면 됨

df2 = df.copy()

In [33]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

In [34]:
df2['E'].isin(['two', 'four'])

2022-01-01    False
2022-01-02    False
2022-01-03     True
2022-01-04    False
2022-01-05     True
2022-01-06    False
Freq: D, Name: E, dtype: bool

In [35]:
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2022-01-03 -0.446603  0.940961  1.294809  0.993898   two
2022-01-05  0.776659  0.415124 -0.009434  0.237204  four

In [36]:
df

                   A         B         C         D
2022-01-01  0.130354  1.500406  0.173290 -1.784245
2022-01-02  1.713190  0.499851  0.156170  0.066028
2022-01-03 -0.446603  0.940961  1.294809  0.993898
2022-01-04  0.858115  1.311840  1.174808 -0.261098
2022-01-05  0.776659  0.415124 -0.009434  0.237204
2022-01-06 -0.925415 -0.033729 -0.576099 -0.177671

In [37]:
# numpy의 cumsum : 누적합
df.apply(np.cumsum)

                   A         B         C         D
2022-01-01  0.130354  1.500406  0.173290 -1.784245
2022-01-02  1.843544  2.000257  0.329460 -1.718216
2022-01-03  1.396941  2.941218  1.624269 -0.724318
2022-01-04  2.255057  4.253058  2.799077 -0.985416
2022-01-05  3.031715  4.668182  2.789643 -0.748212
2022-01-06  2.106301  4.634453  2.213543 -0.925883

In [38]:
df.apply(lambda x: x.max() - x.min())

A    2.638605
B    1.534135
C    1.870908
D    2.778143
dtype: float64

## 두 DataFrame 병합하기

In [39]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']}, index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']}, index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']}, index=[8, 9, 10, 11])

In [40]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [41]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [42]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

* concat : 열 방향으로 합치기
* 단순하게 아무 옵션 없이 그냥 사용하면 열 방향으로 병합

In [43]:
result = pd.concat([df1, df2, df3])
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

* concat에 keys 옵션으로 구분할 수 있음
* key 지정된 구분은 다중 index가 되어 level 형성

In [44]:
result = pd.concat([df1, df2, df3], keys=['x', 'y', 'z'])
result

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [45]:
result.index

MultiIndex([('x',  0),
            ('x',  1),
            ('x',  2),
            ('x',  3),
            ('y',  4),
            ('y',  5),
            ('y',  6),
            ('y',  7),
            ('z',  8),
            ('z',  9),
            ('z', 10),
            ('z', 11)],
           )

In [46]:
result.index.get_level_values(0)

Index(['x', 'x', 'x', 'x', 'y', 'y', 'y', 'y', 'z', 'z', 'z', 'z'], dtype='object')

In [47]:
result.index.get_level_values(1)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64')

In [48]:
df4 = pd.DataFrame({
    'B': ['B2', 'B3', 'B6', 'B7'],
    'D': ['D2', 'D3', 'D6', 'D7'],
    'F': ['F2', 'F3', 'F6', 'F7']
}, index=[2, 3, 6, 7])

result = pd.concat([df1, df4], axis=1)

In [49]:
result

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

* 공통된 index로 합치고 공통되지 않은 index의 데이터는 버리도록 하는 옵션이 join='inner' 옵션

In [50]:
result = pd.concat([df1, df4], axis=1, join='inner')
result

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

* ignore_index=True : 두 데이터의 index를 무시하고 합친 후 다시 index를 부여. 열을 기준으로 합침.

In [52]:
result = pd.concat([df1, df4], ignore_index=True)
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

## merge

In [54]:
left = pd.DataFrame({'key': ['K0', 'K4', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2','A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [55]:
left

  key   A   B
0  K0  A0  B0
1  K4  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [56]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

* 두 데이터에 공통으로 있는 컬럼인 key를 기준으로 merge 명령
* merge 기준을 설정하는 on 옵션으로 합치면 공통된 key에 대해서만 합침

In [57]:
pd.merge(left, right, on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3

In [58]:
pd.merge(left, right, how='left', on='key')

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K4  A1  B1  NaN  NaN
2  K2  A2  B2   C2   D2
3  K3  A3  B3   C3   D3

In [59]:
pd.merge(left, right, how='right', on='key')

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1  NaN  NaN  C1  D1
2  K2   A2   B2  C2  D2
3  K3   A3   B3  C3  D3

In [60]:
pd.merge(left, right, how='outer', on='key')

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K4   A1   B1  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3   A3   B3   C3   D3
4  K1  NaN  NaN   C1   D1

In [62]:
pd.merge(left, right, how='inner', on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3