In [1]:
import pandas as pd
import numpy as np

In [4]:
# Series 생성
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
# 날짜 형의 데이텅 : data_range, periods : 6일간
dates = pd.date_range('20220101', periods=6)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2022-01-01  0.130354  1.500406  0.173290 -1.784245
2022-01-02  1.713190  0.499851  0.156170  0.066028
2022-01-03 -0.446603  0.940961  1.294809  0.993898
2022-01-04  0.858115  1.311840  1.174808 -0.261098
2022-01-05  0.776659  0.415124 -0.009434  0.237204
2022-01-06 -0.925415 -0.033729 -0.576099 -0.177671

In [6]:
# head : 기본적으로 첫 5행을 보여줌
df.head(3)

                   A         B         C         D
2022-01-01  0.130354  1.500406  0.173290 -1.784245
2022-01-02  1.713190  0.499851  0.156170  0.066028
2022-01-03 -0.446603  0.940961  1.294809  0.993898

In [7]:
df.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
df.values

array([[ 0.13035414,  1.50040573,  0.17329026, -1.78424483],
       [ 1.71319008,  0.49985097,  0.15617017,  0.06602839],
       [-0.44660293,  0.94096097,  1.29480883,  0.99389843],
       [ 0.85811534,  1.31184029,  1.17480779, -0.26109759],
       [ 0.77665872,  0.41512424, -0.00943443,  0.23720353],
       [-0.92541459, -0.03372924, -0.57609942, -0.17767136]])

In [10]:
# df.info() : df 변수 dataframe의 개요를 알 수 있음
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2022-01-01 to 2022-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes